#root {
  width: 100%;
  margin: 0 auto;
}

.sidebar-li {
  color: #45A29E !important;
}

.sidebar-li:hover {
  color: #C5C6C7 !important;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}